@font-face {
  font-family: 'Abel', sans-serif;
  font-family: 'PT Mono', monospace;
  src: url();
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: auto !important;
}

#general-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 100%;
  row-gap: 7vh;
  background-color: #23232b;
}

#side-nav {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  row-gap: 1vh;
  justify-items: center;
  position: fixed;
  z-index: 2;
  transform: translate(0, 50%);
  top: 0;
  left: 30px;
  height: 50vh;
  width: 5vw;
}

#side-nav a {
  display: grid;
  text-decoration: none;
  color: white;
  font-size: 20pt;
  width: 100%;
}

.active i {
  color: #F86624 !important;
  transition: 0.2s ease-in-out;
}

#side-nav i {
  margin: auto;
}

.special {
  color: #F86624;
}

#welcome {
  height: 100vh;
  background-image: url(../../public/img/welcome2.jpg);
  background-size: 100vw 85vh;
  background-repeat: no-repeat;
}

#welcome .text-area {
  font-family: PT Mono;
  font-size: 25pt;
  text-align: right;
  margin-right: 15%;
  top: 70%;
  position: relative;
  color: #BDC2BF;
}

#welcome .text-area h1 {
  width: initial;
  border: none;
}

#welcome .text-area h5 {
  width: initial;
  border: none;
}

.text-area {
  font-family: Abel;
  font-size: 20pt;
  color: #BDC2BF;
}

.text-area h1 {
  width: fit-content;
  border-bottom: 4px solid #BDC2BF;
}

#purpose {
  width: 62vw;
  justify-self: center;
  text-align: center;
}

#about {
  width: 62vw;
  justify-self: center;
  text-align: left;
}

#facts {
  width: 62vw;
  justify-self: center;
  text-align: center;
}

#facts .text-area {
  width: 100%;
}

#facts .text-area h1 {
  margin: auto;
}

#facts-container {
  font-family: Abel;
  justify-self: center;
  width: 62vw;
  display: grid;
  grid-template-columns: 19vw 19vw 19vw;
  column-gap: 2.5vw;
  margin: auto;
}

#facts-container article {
  display: grid;
  grid-template-rows: 40pt 65pt;
  justify-items: center;
}

#facts-container i {
  font-size: 40pt;
  height: fit-content;
}

#facts-container h1 {
  margin: 0.5em;
  font-size: 30pt;
  height: fit-content;
}

#facts-container p {
  margin: 0;
  text-align: center;
  font-size: 17pt;
}

#members {
  display: grid;
  grid-template-rows: auto;
  font-family: Abel;
  justify-self: center;
  width: 62vw;
  margin: auto;
}

#members .text-area {
  text-align: center;
  margin: auto auto;
}

#members .text-area h1 {
  text-align: center;
  margin: auto auto;
}

#members-container {
  display: grid;
  grid-template-columns: 20vw 20vw;
  justify-content: center;
  column-gap: 70px;
  row-gap: 70px;
}

#members-container .overlay {
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -ms-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
  display: grid;
  position: absolute;
  width: 18vw;
  height: 18vw;
  transform: translate(1vw, 1vw);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
}

#members-container .overlay.fade {
  opacity: 1 !important;
}

#members-container .overlay .text-area h1 {
  font-size: 20pt;
}

#members-container figure {
  margin: 0;
  width: 100%;
}

#members-container img {
  width: 100%;
}

@media screen and (max-width: 1500px) {
  #welcome {
    height: 80vh;
    background-image: url(../../public/img/welcome2.jpg);
    background-size: 100vw 70vh;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1200px) {
  #welcome {
    height: 75vh;
    background-image: url(../../public/img/welcome2.jpg);
    background-size: 100vw 60vh;
    background-repeat: no-repeat;
  }
  #members-container .overlay .text-area {
    font-size: 17pt;
  }
  #members-container .overlay .text-area h1 {
    font-size: 23pt;
  }
}

@media screen and (max-width: 1050px) {
  #side-nav-container {
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -ms-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    opacity: 1;
    position: fixed;
    z-index: 2;
    transform: translate(0, 50%);
    top: 0;
    left: 20px;
    height: 50vh;
    width: 5vw;
    border-left: 3px solid #BDC2BF;
  }
  #side-nav-container.fade {
    opacity: 0 !important;
  }
  #side-nav {
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -ms-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    display: grid;
    opacity: 0;
  }
  #side-nav.fade {
    opacity: 1 !important;
  }
  #welcome {
    height: 65vh;
    background-image: url(../../public/img/welcome2.jpg);
    background-size: 100vw 50vh;
    background-repeat: no-repeat;
  }
  #welcome .text-area {
    font-size: 20pt;
    margin-right: 15%;
  }
  #welcome .text-area h1 {
    font-size: 30pt;
  }
  .text-area {
    font-size: 19pt;
  }
  .text-area h1 {
    font-size: 28pt;
  }
  #purpose {
    width: 80vw;
  }
  #about {
    width: 80vw;
  }
  #facts {
    width: 80vw;
  }
  #facts-container {
    font-family: Abel;
    justify-self: center;
    width: 80vw;
    display: grid;
    grid-template-columns: 24vw 24vw 24vw;
    column-gap: 4vw;
    margin: auto;
  }
  #facts-container i {
    font-size: 30pt;
  }
  #facts-container h1 {
    font-size: 25pt;
  }
  #facts-container p {
    font-size: 15pt;
  }
  #members {
    width: 80vw;
  }
  #members-container {
    grid-template-columns: 30vw 30vw;
  }
  #members-container .overlay {
    width: 28vw;
    height: 28vw;
    transform: translate(1vw, 1vw);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
  }
  #members-container .overlay .text-area {
    font-size: 20pt;
  }
  #members-container .overlay .text-area h1 {
    font-size: 30pt;
  }
}

@media screen and (max-width:870px) {
  #general-container {
    row-gap: 15vh;
  }
  #welcome {
    height: 50vh;
    background-image: url(../../public/img/welcome2.jpg);
    background-size: 100vw 40vh;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width:770px) {
  html {
    overflow-x: hidden;
  }
  #welcome {
    height: 50vh;
    background-image: url(../../public/img/welcome2.jpg);
    background-size: 100vw 35vh;
    background-repeat: no-repeat;
  }
  #welcome .text-area {
    font-size: 25pt;
    text-align: center;
    margin-right: 0;
    top: 75%;
  }
  #welcome .text-area h1 {
    font-size: 50pt;
  }
  .text-area {
    font-size: 25pt;
  }
  .text-area h1 {
    font-size: 35pt;
  }
  #facts-container h1 {
    font-size: 30pt;
    height: fit-content;
  }
  #facts-container p {
    margin: 0;
    text-align: center;
    font-size: 17pt;
  }
  #members-container .overlay .text-area {
    font-size: 15pt;
  }
  #members-container .overlay .text-area h1 {
    font-size: 25pt;
  }
}

@media screen and (max-width: 600px) {
  #welcome {
    height: 65vh;
    background-image: url(../../public/img/welcome2.jpg);
    background-size: 100vw 30vh;
    background-repeat: no-repeat;
  }
  #welcome .text-area {
    font-size: 20pt;
    margin-right: 0%;
  }
  #welcome .text-area h1 {
    font-size: 9vw;
  }
  #welcome .text-area h5 {
    font-size: 3vw;
  }
  .text-area {
    font-size: 19pt;
  }
  .text-area h1 {
    font-size: 28pt;
  }
  #facts-container {
    justify-content: center;
    grid-template-columns: 50vw;
    row-gap: 5vh;
  }
  #members {
    width: 80vw;
    margin-right: 10%;
  }
  #members-container {
    grid-template-columns: 50vw;
  }
  #members-container .overlay {
    width: 48vw;
    height: 48vw;
    transform: translate(1vw, 1vw);
  }
  #members-container .overlay .text-area {
    font-size: 18pt;
  }
  #members-container .overlay .text-area h1 {
    font-size: 27pt;
  }
  #members-container figure {
    margin: 0;
    width: 100%;
  }
  #members-container img {
    width: 100%;
  }
  .contact {
    margin-right: 35%;
    justify-self: center;
    width: 80vw;
  }
}