@font-face {
  font-family: 'Abel', sans-serif;
  font-family: 'PT Mono', monospace;
  src: url();
}

body {
  margin: 0;
}

#general-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  row-gap: 1vh;
  height: 5000px;
  background-color: #23232b;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

#side-nav {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  row-gap: 1vh;
  justify-items: center;
  position: fixed;
  transform: translate(0, 50%);
  top: 0;
  left: 2vw;
  height: 50vh;
  width: 3vw;
}

#side-nav a {
  text-decoration: none;
  color: white;
  font-size: 2vw;
}

.special {
  color: orange;
}

#welcome {
  height: 100vh;
  background-image: url(../../public/img/welcome2.jpg);
  background-size: 100vw 85vh;
  background-repeat: no-repeat;
}

#welcome .text-area {
  font-family: PT Mono;
  font-size: 25pt;
  text-align: right;
  margin-right: 15%;
  top: 75%;
  position: relative;
  color: #BDC2BF;
}

#welcome .text-area h1 {
  width: initial;
  border: none;
}

.text-area {
  font-family: Abel;
  font-size: 20pt;
  color: #BDC2BF;
}

.text-area h1 {
  width: fit-content;
  border-bottom: 4px solid #BDC2BF;
}

#purpose {
  width: 62vw;
  justify-self: center;
  text-align: center;
}

#about {
  width: 62vw;
  justify-self: center;
  text-align: left;
}

#facts {
  width: 62vw;
  justify-self: center;
  text-align: center;
}

#facts .text-area h1 {
  width: 100%;
}

#facts-container {
  font-family: Abel;
  justify-self: center;
  width: 62vw;
  display: grid;
  grid-template-columns: 19vw 19vw 19vw;
  column-gap: 2.5vw;
  margin: auto;
}

#facts-container article {
  display: grid;
  grid-template-rows: 40pt 65pt;
  justify-items: center;
}

#facts-container i {
  font-size: 40pt;
  height: fit-content;
}

#facts-container h1 {
  margin: 0.5em;
  font-size: 30pt;
  height: fit-content;
}

#facts-container p {
  margin: 0;
  text-align: center;
  font-size: 17pt;
}

#members {
  display: grid;
  grid-template-rows: auto;
  font-family: Abel;
  justify-self: center;
  width: 62vw;
  margin: auto;
}

#members .text-area {
  text-align: center;
  margin: auto auto;
}

#members .text-area h1 {
  text-align: center;
  margin: auto auto;
}

#members-container {
  display: grid;
  grid-template-columns: 45% 45%;
  column-gap: 10%;
}

#members-container .column {
  display: grid;
}

#members-container .column figure {
  margin: 0;
}

#members-container .column img {
  width: 100%;
}